page-about {

  .profile-img {
    width: 80%;
  }

  .profile-name {
    text-align: center;
    font-size: 24px;
  }

  .profile-url {
    font-size: 18px;
  }

  .social-icon {
    font-size: 30px;
  }
}
