page-add-holding {

  .background {
    background: linear-gradient(to bottom right, #4B79A1, #283E51);
  }

  .btc-icon-small {
    font-size: 14px;
    color: #4d4d4d;
  }

  .coin-logo {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 48px;
  }

}
