<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      My Crypto
    </ion-title>
    <ion-buttons>
      <button ion-button icon-only (click)="toggleDisplay()">
        <ion-icon *ngIf="isDisplayFiat" name="logo-usd"></ion-icon>
        <ion-icon *ngIf="!isDisplayFiat" name="logo-bitcoin"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="addCoin()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card (click)="toggleDisplay()">
    <ion-card-content class="main-card">
      <div class="main-card-title">{{ getTotalBalance("USD") | currency }}
        <p>{{ getTotalBalance("BTC") | number: "1.0-2" }} BTC</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-refresher (ionRefresh)="refreshHoldings($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let holding of holdings; let i = index">
      <ion-item-sliding #slidingItem>
        <button ion-item detail-none>
          <ion-avatar item-start>
            <img [src]="getIconImage(holding)">
          </ion-avatar>
          {{ holding.quote.name }}
          <p class="coin-description" *ngIf="isDisplayFiat || holding.symbol === 'BTC'">
            {{ holding.amount }} {{ holding.quote.symbol }} ({{ holding.quote.quotes.USD.price * holding.amount |
            currency }})
          </p>
          <p class="coin-description" *ngIf="!isDisplayFiat && holding.symbol !== 'BTC'">
            {{ holding.amount }} {{ holding.quote.symbol }} (<ion-icon class="btc-icon-small" name="logo-bitcoin"></ion-icon>
            {{ holding.quote.quotes.BTC.price * holding.amount | number: "1.0-2" }})
          </p>
          <span *ngIf="isDisplayFiat || holding.symbol === 'BTC'" item-end>{{ holding.quote.quotes.USD.price | currency }}</span>
          <span *ngIf="!isDisplayFiat && holding.symbol !== 'BTC'" item-end><ion-icon class="btc-icon-large"
                                                                                      name="logo-bitcoin"></ion-icon>{{ holding.quote.quotes.BTC.price | number: "1.0-8" }}</span>
        </button>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="promptRemoveCoin(holding, i, slidingItem)">
            <ion-icon name="trash"></ion-icon>
            Remove
          </button>
          <button ion-button color="secondary" (click)="editCoin(holding, i, slidingItem)">
            <ion-icon name="build"></ion-icon>
            Edit
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-card (click)="addCoin()" class="add-coin">
        <ion-icon class="add-coin-icon" name="add-circle-outline"></ion-icon>
        <div>Add Coin</div>
    </ion-card>

  </ion-list>

</ion-content>
